/* CSS để áp dụng cho trạng thái "Chờ Xác Nhận" */
.waiting-confirm {
    background-color: yellow; /* Màu nền */
    color: black; /* Màu chữ */
}

/* CSS để áp dụng cho trạng thái "Chờ Lấy Hàng" */
.waiting-pickup {
    background-color: orange;
    color: white;
}

/* CSS để áp dụng cho trạng thái "Chờ Giao Hàng" */
.waiting-delivery {
    background-color: blue;
    color: white;
}

/* CSS để áp dụng cho trạng thái "Đã Giao" */
.delivered {
    background-color: green;
    color: white;
}

/* CSS để áp dụng cho trạng thái "Đã Hủy" */
.cancelled {
    background-color: red;
    color: white;
}

/* CSS để áp dụng cho trạng thái "Trả Hàng" */
.returned {
    background-color: purple;
    color: white;
}

/* CSS để áp dụng cho trạng thái "Lỗi Hệ Thống" */
.system-error {
    background-color: rgb(244, 237, 29);
    color: white;
}
